<!-- <input type="hidden" name="name" value="<%= @current_user.github %>" id="current-user"> -->
<input type="hidden" name="name" value="hopecrichlow" id="current-user">
<input type="hidden" name="admin" value="<%= @current_user.admin %>" id="current-user-admin">

<div class="container-fluid relElem" ui-view></div>