<div class="st-content-inner padding-none">
    <!-- <input type="hidden" name="name" value="<%= @current_user.github %>" id="current-user"> -->
    <input type="hidden" name="name" value="chrisbusta" id="current-user">
    <div class="container-fluid">
        <div class="page-section">
            <h1 class="text-display-1 margin-none">Overview</h1>
        </div>
        <div class="panel panel-default">
            <div class="media v-middle">
                <div class="media-left">
                    <div class="bg-green-400 text-white">
                        <div class="panel-body">
                            <i class="fa fa-laptop fa-fw fa-2x"></i>
                        </div>
                    </div>
                </div>
                <div class="media-body">Notice Message Here</div>
            </div>
        </div>
        <div class="row" data-toggle="isotope">
            <div class="item col-xs-12 col-lg-12" ui-view></div>
        </div>
        <br/>
    </div>
</div>
