<!DOCTYPE html>
<html class="hide-sidebar ls-bottom-footer" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Student Tracker</title>

    <%= stylesheet_link_tag "application" %>

</head>
<body class="login">
  <div id="content">
      <div class="container-fluid">
          <div class="login-block">
              <div class="panel panel-default text-center" data-z="0.5">
                  <h1 class="text-center">Welcome</h1>
                  <div class="panel-body">
                      <a href="/auth/github" class="btn btn-primary ghLogin">
                        <i class="fa fa-fw fa-github fa-2x"></i>
                        <span class="ghLogin">Github Login</span>
                      </a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</body>
</html>
