/* ...
*= require theme/bootstrap.min
*= require theme/sb-admin
*= require theme/font-awesome.min
*/


.miniHead {
  width: 50px;
  float: left;
  margin-right: 15px;
}

.login-block {
  width: 400px;
  margin: 25px auto;
  padding: 25px 0;
}
.ghLogin {
  vertical-align: super;
}