<div class="panel panel-default paper-shadow" data-z="0.5">
    <div class="panel-heading">
        <h4 class="text-headline margin-none">
            Your Students - <small>{{ members.length }} Total</small>
        </h4>
    </div>
    <ul class="list-group">
        <li class="list-group-item media v-middle" ng-repeat="member in members">
            <div class="media-body">
                <a target="_blank" href="{{ member.html_url }}" class="text-subhead list-group-link">
                    <img ng-show="member.avatar_url" ng-src="{{ member.avatar_url }}" class="miniHead">
                </a>
            </div>
            <div class="media-right" ng-switch on="issue.state">
                <a target="_blank" href="{{ member.html_url }}" class="text-subhead list-group-link">{{ member.login }}</a>
            </div>
        </li>
    </ul>
</div>
