<!DOCTYPE html>
<html>
<head>
  <title>Student Tracker</title>
</head>
<body ng-app="Tracker">

  <div class="container">
    <%= yield %>
  </div>

  <%= javascript_include_tag "application" %>
</body>
</html>
